/* Seletores 
    Tag HTML
    # 
*/
* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
.titulo-2 {
    font-size: xx-large;
    text-align: center;
}
.texto {
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
}

#titulo {
    background-color: hwb(43 12% 10%);
    color: rgb(50, 75, 97);
    border: 1px solid yellowgreen;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

li {
    display: inline;
}

a {
    text-decoration: none;
    color: rgb(50, 75, 97);
}

.social {
    width: 5%;
}

.texto:hover {
    background-color:rgba(221, 228, 235, 0.146);
}
.photo {
    width: 100%;
}

.container {
    display: flex;
}

@media (max-width: 800px) {
    .container {
        flex-direction: column;
    }
}

.container>div {
    width: 100%;
}

.nav-button {
    margin: 5%;
    border: 5px solid hwb(43 12% 10%);
    border-radius: 17px;
    padding: 7px;
}

.nav-button:hover {
    background-color: rgba(254, 220, 0, 0.352);
}

hr {
    display: none;
}