body {
    background-color: #191a1f;
    color: #fbfaf5;
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list li {
    letter-spacing: 3px;
    margin: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fbfaf5;
    margin: 8px;
    transition: 0.3s;
}

li{
    display: inline-block;
    margin: 20px;
}

#logo{
    border: 2px solid #0f0;
    padding: 15px;
    border-radius: 25px;

}
.texto-contato{
    margin-top: 30px;
}

.texto-contato1{
    font-size: 30px;
    color: #0f0;
}

.texto-contato2{
    margin-top: 10px;
}

a{
    color: #fbfaf5;
    text-decoration: none;
}
a:hover{
    color: #0f0;
    transition: 0.3s all;
}

h1{
    font-weight: 200;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
}

h2{
    margin-top: 60px;
    font-size: 56px;
    line-height: 10px;
    font-family: poppinsmedium;
    display: flex;
    justify-content: left;
}

span{
    color: #0f0;
}

p{
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
    text-align: left;
}

img{
    margin-top: 100px;
    width: 250px;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: #979ba3;
    color: #0f0;
    font-weight: bold;
    font-size: 20px;
}

form [type="submit"]:hover{
    cursor: pointer;
}

input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}

.texto .botoes {
    margin-top: 60px;
    display: flex;
    justify-content: left;
}

.texto .botoes button {
    height: 90px;
    width: 600px;
    border-radius: 70px;
    border: 0;
    margin: 0 10px;
    font-size: 40px;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
    
}

.texto .botoes button.overlay {
    background: #979ba3;
    color: #0f0;
    animation: vibrar 0.5s ease-in-out infinite both;
}

@keyframes vibrar {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.01);
    }
    100%{
        transform: scale(1);
    }
}

table{
    width: 400px;
    margin: auto;
    align-items: center;
    text-align: center;
    background: #0f0;
    color: #fbfaf5;
    border-radius: 20px;
    margin-top: 8%;
    height: 20px;
    padding: 15px;
    font-size: 20px;
}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    form {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);    
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px); 
}

@media screen and (max-width: 760px){

    body {
        overflow-x: hidden;
    }
    .nav-list li {
        margin-left: 0s;
        opacity: 0;
        
    }
    .mobile-menu{
        display: block;
    }
    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #191a1f;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    main{
        flex-direction: column;
        margin-top: 30px;
    }
    h2{
        font-size: 30px;
        margin-top: 20px;;
    }
    img{
        display: none;
    }
    .texto .botoes {
        margin-top: 60px;
        display: flex;
        justify-content: center;
    }
    .texto .botoes button {
        height: 55px;
        width: 200px;
        border-radius: 70px;
        border: 0;
        margin: 0 10px;
        font-size: 25px;
        font-weight: 500;
        padding: 0 10px;
        cursor: pointer;
        outline: none;
        transition: 0.3s;
    }
    table{
        width: 250px;
        margin: auto;
        align-items: center;
        text-align: center;
        background: #979ba3;
        color: #0f0;
        border-radius: 20px;
        margin-top: 8%;
        height: 20px;
        padding: 15px;
        font-size: 10px;
    }
}